:root {
  --green-500: #409a16;
  --green-400: #23873a;
  --green-300: #06aa48; /* main */
  --blue-700: #2c3e50;
  --red-300: #fb0234;
  --yellow-300: #e0dd0c;
  --black: #000000;
  --gray-900: #121214;
  --gray-800: #333333;
  --gray-600: #8f8f8f;
  --gray-500: #d9d9d9;
  --gray-200: #e7e7e7;
  --gray-100: #f3f3f3;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--gray-900);
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
}
